{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container mb-2">
    <div class="row">
        <div class="col text-center mt-5">
            <h2 class="logo-font mb-4">Wishlist</h2>
            <hr>
        </div>
    </div>
</div>

<div class="row mb-5 justify-content-center">
    <div class="col-sm-8 align-center">
    {% if wishlist %}
    <div class="table-responsive ">
        <table cellspacing="0" width="100%" class="table text-center">
            <thead>
                <tr>
                    <th scope="col">product</th>
                    <th scope="col">price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for product in wishlist %}
                <tr>
                    <td class="p-3 w-25">
                        <ul class="list-unstyled">
                            <li>{{ product.product.name }}</li>
                            <li> <img class="img-thumbnail" src="{{ product.product.image.url }}"
                                    alt="{{ product.product.name }} image"></li>
                        </ul>
                    </td>
                    <td class="py-3">
                        <p class="my-0"><strong>${{ product.product.price }}</strong></p>
                    </td>
                    <td class="py-3">
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-black" href="{% url 'delete_in_wishlist' product.product.id %}">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </a>
                            </li>
                            <li>
                                <a class="text-black" href="{% url 'product_detail' product.product.id %}">
                                    Back to Product
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
    {% else %}
    <h5 class="text-center">Your wishlist is empty</h5>
    {% endif %}
</div>
</div>
<div class="row mt-2">
    <div class="col text-center">
        <a href="{% url 'products' %}" class="btn checkout-btns">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>Keep looking</span>
        </a>
    </div>
</div>
</section>
{% endblock %}