{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container mb-2">
    <div class="row">
        <div class="col text-center mt-5">
            <h2 class="logo-font mb-4">Wishlist</h2>
            <hr>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10 offset-1">
        {% if wishlist %}
        {% for item in wishlist %}
        
        <div class="card " style="width: 18rem;">
 
                            <img src="{{ item.product.image.url }}" class="card-img-top img-fluid">
                            <div class="card-body">
                              <h5 class="card-title">{{ item.product.name }}</h5>
                              <p class="my-0"><strong>${{ item.product.price }}</strong></p>
                              <p class="card-text"><small>{{ item.product.description }}</small></p>
                              
                              <a href="{% url 'product_detail' item.product.id %}" class="btn btn-primary">Back to product</a>
                              <a href="{% url 'delete_in_wishlist' item.product.id %}" class="btn btn-primary">Delete</a>
                            </div>
                          </div>
                        {% endfor %}
                
            </div>
        {% else %}
            <p class="lead mb-5 green">You have no products in your Wishlist.</p>
        {% endif %}
    </div>
</div>   
<div class="row mt-2">
    <div class="col text-center">
        <a href="{% url 'products' %}" class="btn btn-green">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>Keep looking</span>
        </a>
    </div>
</div>
</section>
{% endblock %}