
html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Roboto';
    background-color: #fff;
}
/*--------------------------------Hero-section*/
.overlay{
    background-color: rgba(0, 0, 0, 30%);
    height: 100%;
}

.hero-section{
    background: url('/media/images/homepage_bg.jpg') no-repeat center center;
    background-size: cover;
    height: calc(100vh - 164px);
}

.flex {
    display: flex;
    flex-wrap: wrap;
  }
  .container-category {
    position: relative;
    
  }
  
  /* Make the image responsive */
  .container-category img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container-category .btn-category {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }


  
  .container-category  {
    background-color: black;
  }

  .zoom {
    transition: transform .7s; /* Animation */
    width: 170px;
    height: 170px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.1); 
  }

/*-------------------------------------------------Nav headers*/

.logo-img{
    height: 6rem;
    width: auto;
    margin-left: 90px;
}


.bg-banner{
    background-color: #57347a;
}

.bg-total{
    background-color: rgb(124 0 255 / 25%);
}

.banner-text{
    color: #f1f1f1;
    font-family: Julius Sans One;
    
}

.cart-icon{
    border: none;
    background-color: #e7e2ed;
    font-size: large;
}

.navbar-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* from Bulma */
.icon-nav {
   
    
    justify-content: center;
    height: 2rem;
    width: 2rem;
    color: #000;
}

.icon-nav:hover{
    color: #61428f;
    text-shadow: #aab7c4 3px 3px 3px;
    
}

.logo-font {
    text-transform: uppercase;
    font-family: Julius Sans One;
    color: #3d1d6c;
}

.rubrics-font{
    text-transform: uppercase;
    font-family: Julius Sans One;
    font-weight: bold;
    color: #f1f1f1;
    font-size: 4rem;
    text-shadow: 2px 4px 7px rgb(255 255 255 / 50%);
}

.gem{
    color: #57347a;
}

.header-bg{
    background-color: #e7e2ed;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgb(85, 75, 75);
    color: white;
    min-width: 260px;
}


.btn-color{
    background-color: #57347a;
    width: 150px;
    padding: 15px;

}
.btn-color:hover{
    background-color: #57347aa2;
}



.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}
/*--------------------------------Products*/



.products-body{
    background-color: #ffffff;
}

.card{
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-add {
    width: 80%;
    text-align: center;
    background-color: #3d1d6c;
    border: none;
    height: 50px;
    color: #ffffff;
    border-radius: 0px 10px 10px 0px;
}

.btn-add:hover{
    background-color: #57347a;
    box-shadow: 5px 5px 7px #ffffff;
}

.quantity-selector{
    border: none;
    background-color: #e7e2ed;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
}
/*---------------------------------Cart*/

.update-link,
.remove-item{
    cursor: pointer;
}

/*------------------------------------Buttons*/
.save-wish{
    text-decoration: none;
    color: #3d1d6c;
}
.save-wish:hover{
    color: rgba(123, 0, 255, 0.601);
    text-decoration: none;
}

.delete-wish{
    color: rgba(123, 0, 255, 0.574);
    text-decoration: none;
}
.delete-wish:hover{
    text-decoration: none;
    color: #3d1d6c;
}

.checkout-btns{
    background-color: rgb(124 0 255 / 25%);
  }

/*----------------------------------Toast messages*/

.message-container{
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast{
    overflow: visible;
}

.toast-capper{
    height: 2px;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }

}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 200px;
    }

    .logo-img{
        margin-left: 0px;
    }
}

/*-----------------------------------Footer*/
.footer-bg{
    background-color: #e7e2ed;
}

.social-icons{
    size: 25px;
    color: #3d1d6c;
}

.social-icon-small{
    color: #3d1d6c;
}

.social-icon-small:hover,
.social-icons:hover{
    color: #000;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 150px;
    }
    .logo-img{
        height: 5rem;
        width: auto;
        
    }

    body {
        height: calc(100vh - 180px);
    }
}

@media (max-width: 722px) {
   
    .logo-img{
        height: 3rem;
        width: auto;
        margin-left: 0;
    }

    .header-container {
        padding-top: 95px;
    }
    
    .pt-3, .py-3 {
        padding-top: 0rem!important;
    }

    .banner-text{
        font-size: 18px;
    }
   
}