{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h2 class="mb-0">{{ product.name }}</h2>
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                {% endif %}
                <div class="col-12 col-md-8 col-lg-8">
                    {% if avg_rating == 5 %}
                    <p>
                        <small class="purple-muted">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            ({{ reviews.count }} reviews) | <a class=" add-review" href="{% if user.is_authenticated %}#product-reviews{% else %}{% url 'account_login' %}{% endif %}">Read all reviews</a>

                        </small>
                    </p>
                {% elif avg_rating == 4.5 %}
                    <p>
                        <small class="purple-muted">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            ({{ reviews.count }} reviews) | <a class=" add-review" href="{% if user.is_authenticated %}#product-reviews{% else %}{% url 'account_login' %}{% endif %}">Read all reviews</a>
                        </small>
                    </p>
                {% elif avg_rating == 4 %}
                    <p>
                        <small class="purple-muted">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            ({{ reviews.count }} reviews) | <a class=" add-review" href="{% if user.is_authenticated %}#product-reviews{% else %}{% url 'account_login' %}{% endif %}">Read all reviews</a>
                        </small>
                    </p>
                {% elif avg_rating == 3.5 %}
                    <p>
                        <small class="purple-muted">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            ({{ reviews.count }} reviews) | <a class=" add-review" href="{% if user.is_authenticated %}#product-reviews{% else %}{% url 'account_login' %}{% endif %}">Read all reviews</a>
                        </small>
                    </p>
                {% elif avg_rating == 3 %}
                    <p>
                        <small class="purple-muted">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            ({{ reviews.count }} reviews) | <a class=" add-review" href="{% if user.is_authenticated %}#product-reviews{% else %}{% url 'account_login' %}{% endif %}">Read all reviews</a>
                        </small>
                    </p>
                {% elif avg_rating == 2.5 %}
                    <p>
                        <small class="purple-muted">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            ({{ reviews.count }} reviews) | <a class=" add-review" href="{% if user.is_authenticated %}#product-reviews{% else %}{% url 'account_login' %}{% endif %}">Read all reviews</a>
                        </small>
                    </p>
                {% elif avg_rating == 2 %}
                    <p>
                        <small class="purple-muted">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            ({{ reviews.count }} reviews) | <a class=" add-review" href="{% if user.is_authenticated %}#product-reviews{% else %}{% url 'account_login' %}{% endif %}">Read all reviews</a>
                        </small>
                    </p>
                {% elif avg_rating == 1.5 %}
                    <p>
                        <small class="purple-muted">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            ({{ reviews.count }} reviews) | <a class="add-review" href="{% if user.is_authenticated %}#product-reviews{% else %}{% url 'account_login' %}{% endif %}">Read all reviews</a>
                        </small>
                    </p>
                {% elif avg_rating == 1 %}
                    <p>
                        <small class="purple-muted">
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            ({{ reviews.count }} reviews) | <a class="add-review" href="{% if user.is_authenticated %}#product-reviews{% else %}{% url 'account_login' %}{% endif %}">Read all reviews</a>
                        </small>
                    </p>
                {% else %}
                    <p>
                        <small class="">
                            No Reviews
                        </small>
                    </p>
                {% endif %}
                </div>
                {% if product.category %}
                    <p class="mt-1 mb-0">
                        <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-black">
                            {{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                  
                                </div>
                            </div>

                            <div class="col-12">
                                <div>
                                    <input class=" qty_input quantity-selector" type="number" 
                                        name="quantity" value="1" min="1" max="99" 
                                        data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <button type="submit" class="btn-add mt-2">Add to Cart <i class="bi bi-cart-plus"></i></button>
                                </div>
                                <h5 class="mt-3">
                                    {% if wishlist %}
                                        <a href="{% url 'delete_in_wishlist' product.id %}" class="delete-wish">
                                            <span class=" d-lg-inline-block ">Delete from Wishlist: </span>
                                            <i class="bi bi-star-fill delete-wish"></i>
                                        </a>
                                    {% else %}
                                        
                                        <a class="save-wish" href="{% if user.is_authenticated %}{% url 'save_to_wishlist' product.id %}{% else %}{% url 'account_login' %}{% endif %}">
                                            <span class=" d-lg-inline-block">Save to Wishlist: </span>
                                            <i class="bi bi-star save-wish"></i>
                                        </a>
                                    {% endif %}
                                    </h5>
                                <a href="{% url 'products' %}" class="btn rounded-0 mt-2">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Back</span>
                                </a>
                                
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-8 offset-lg-2">
                <div class="image-container my-3">
                    <h3>Meaning and Energy</h3>
                    <p class="mt-3">{{ product.description }}</p>
                </div>
            </div>
            
                
            
        </div>
    </div>
    {% include 'reviews/includes/reviews.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}