{% block content %}
{% load static %}



<div class="container-fluid">
    <div class="row pt-4 pb-2" id="product-reviews">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <hr>
            {% if reviews.count %}
            <h4>Product Reviews for {{ product.name }} ({{ reviews.count }})</h4>
            {% else %}
            <h4>Product Reviews (0)</h4>
            <p> Be the first to add an review for this product! </p>
            {% endif %}
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            {% for review in reviews %}
            <article>
                <i class="bi bi-person fa-lg"></i> {{ review.user }}  
                <i class="bi bi-calendar2"></i>  {{ review.date_posted }}
                {% if request.user.is_authenticated == review.user.id%}
                        <a class="badge badge-pill border-black" href="{% url 'delete_review' review.id %}">Delete</a>
                {% endif %}
                <div>
                    {{ review.review_body }} 
                </div>
                {% if review.rating == 5 %}
                    <p>
                        <small class="">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </small>
                    </p>
                {% elif review.rating == 4 %}
                    <p>
                        <small class="">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                    </p>
                {% elif review.rating == 3 %}
                    <p>
                        <small class="">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                    </p>
                {% elif review.rating == 2 %}
                    <p>
                        <small class="">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </small>
                    </p>
                {% elif review.rating == 1 %}
                    <p>
                        <small class="">
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </small>
                    </p>
                
                {% else %}
                    <p>
                        <small class="">
                            No Reviews
                        </small>
                    </p>
                {% endif %}
            </article>
            {% endfor %}
        </div>
    </div>
    <div class="row py-2">
        <div class="ccol-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <hr>
        </div>
    </div>
    {% if reviews_by_user %}
            <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                <h6>You have already posted a review</h6>
            </div>
            <br>
    {% else %}
        <div class="row pb-4">
            <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                {% if request.user.is_authenticated %}
                    {% if reviews.count %}
                    <h5>Add a Review</h5>
                    {% else %}
                    <h5>No reviews yet</h5>
                    {% endif %}
                {% else %}
                    <h6> Please login for leave a review</h6>
                {% endif %}
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                {% if request.user.is_authenticated %}
                    <form method="POST" action="{% url 'add_review' product.id %}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input type="submit" class="btn checkout-btns rounded-1 text-uppercase mt-1" value="Add Review">
                    </form> 
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}